.top_side {
    position: relative;
    margin-bottom: 180px;
}

.welcome_image_box {
    width: 100%;
    height: 655px;
    background-image: url(./images/others/welcome-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.3);
}

.title_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

.app_issue {
    color: #ccc;
    margin-bottom: 30px;
}

.welcome_title {
    font-size: 80px;
}

.discover_btn {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #1cc3b2;
    padding: 15px 0;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
    color: #fff;
}
.discover_btn:hover {
    background-color: #1cc3b2;
    color: #fff;
}

.booking_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 1100px;
    padding: 35px 50px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    box-shadow: 0 2px 20px 5px rgba(20, 20, 20, 0.08);
}

.input_box {
    display: flex;
    flex-direction: column;
}

.input_title {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.book_input {
    border: 1px solid #ccc;
    outline: 0;
    color: gray;
    padding: 15px 13px;
    font-family: sans-serif;
    width: 180px;
    border-radius: 3px;
}
.book_input:focus {
    border-color: #1cc3b2;
}

.select_input {
    width: 65px;
}

.book_btn {
    background-color: #1cc3b2;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 14.5px 0;
    font-size: 14px;
    border: 1px solid #1cc3b2;
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
    margin-top: 29px;
}
.book_btn:hover {
    background-color: #101010;
    border-color: #101010;
}

.about_us_box {
    color: #101010;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about_left_side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_issue {
    letter-spacing: 1px;
    font-weight: bold;
    color: #1cc3b2;
}

.about_title {
    font-size: 40px;
    line-height: 45px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.about_description {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.manager_box {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}
.manager_box div {
    margin-left: 10px;
    font-weight: bold;
    color: #1cc3b2;
    letter-spacing: 1px;
}

.about_right_side {
    display: flex;
}

.left_column {
    margin-left: 10px;
}

.about_image_box_1 {
    background-image: url(./images/about-us/3.jpg);
    width: 300px;
    height: 340px;
    border-radius: 5px;
    background-size: cover;
}

.about_image_box_2 {
    background-image: url(./images/about-us/2.jpg);
    width: 250px;
    height: 165px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.about_image_box_3 {
    background-image: url(./images/about-us/1.jpg);
    height: 165px;
    width: 250px;
    border-radius: 5px;
    background-size: cover;
}

.services {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 100px auto 0 auto;
}

.service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);
    color: #101010;
    border-radius: 3px;
    width: 190px;
    padding: 35px 0;
    cursor: pointer;
    transition: .5s;
}
.service_box:hover {
    color: #1cc3b2;
}

.service_icon {
    font-size: 35px;
    color: #1cc3b2;
}

.service_title {
    font-size: 20px;
    margin-top: 15px;
}

.slider {
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

.slide {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
}

.slide_image_box {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s_i_b_1 {
    background-image: url(./images/rooms/1.jpg);
}
.s_i_b_2 {
    background-image: url(./images/rooms/2.jpg);
}
.s_i_b_3 {
    background-image: url(./images/rooms/3.jpg);
}
.s_i_b_4 {
    background-image: url(./images/rooms/4.jpg);
}

.slide_information_box {
    background-color: #0e2737;
    width: calc(50% - 160px);
    padding: 0 80px;
    height: 100%;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slide_inf_title {
    font-size: 40px;
    letter-spacing: 1px;
}

.price_box {
    margin: 30px 0;
    display: flex;
    align-items: center;
    font-size: 40px;
    width: fit-content;
    width: 200px;
    letter-spacing: 1px;
    color: #1cc3b2;
}

.price_box div {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
}

.slide_service {
    display: flex;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.slide_service div {
    margin-left: 10px;
}

.slide_service_text {
    width: 130px;
}

.view_details {
    background-color: #1cc3b2;
    color: #fff;
    border-radius: 3px;
    padding: 15px 40px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 1px;
}
.view_details:hover {
    background-color: #fff;
    color: #1cc3b2;
}

.testimonials_sliders {
    display: flex;
    width: 1100px;
    margin: 90px auto 90px auto;
    height: 440px;
}

.testimonials {
    width: 50%;
    height: 100%;
}

.testimonial_box {
    width: 100%;
    height: 100%;
    display: flex;
}

.testimonial_image_box {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.t_i_b_1 {
    background-image: url(./images/testimonials/1.webp);
}
.t_i_b_2 {
    background-image: url(./images/testimonials/2.jpg);
    background-position: 38% 38%;
}
.t_i_b_3 {
    background-image: url(./images/testimonials/3.webp);
}
.t_i_b_4 {
    background-image: url(./images/testimonials/4.jpg);
    background-position: 10% 10%;
}

.testimonials_slider_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: calc(50% - 100px);
    padding: 30px 50px;
}

.testimonial_information_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonial_information_box .slide_inf_title {
    margin-top: 20px;
}

.testimonials_descriptions {
    width: 100%;
}

.score_box {
    display: flex;
    color: #f5b917;
    font-size: 14px;
    margin: 25px 0 20px 0;
}

.star_icon {
    margin-right: 3px;
}

.guest_name {
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
    font-weight: bold;
}
.guest_name div {
    color: #1cc3b2;
    margin-left: 5px;
    font-weight: 500;
}

.entertainments {
    width: 100%;
    height: 750px;
    margin: 50px 0;
    display: flex;
}

.entertainment_box {
    width: 25%;
    height: 100%;
    position: relative;
}

.entertainment_image_box {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/entertainments/1.jpg);
}
.e_i_b_1 {
    background-image: url(./images/entertainments/1.jpg);
}
.e_i_b_2 {
    background-image: url(./images/entertainments/2.jpg);
}
.e_i_b_3 {
    background-image: url(./images/entertainments/3.jpg);
}
.e_i_b_4 {
    background-image: url(./images/entertainments/4.jpg);
}

.entertainment_title_box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 80px);
    height: 120px;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
    transition: .4s ease-out;
}
.entertainment_title_box.show {
    height: 320px;
    background-color: #1cc3b2;
}

.e_t_b {
    margin-top: 40px;
}

.entertainment_issue {
    font-size: 14px;
    margin-bottom: 8px;
}

.about_entertainment {
    transition: 5s;
    font-size: 14px;
    display: none;
}
.about_entertainment.show {
    display: block;
}

.about_e_b {
    margin-top: 10px;
    line-height: 20px;
}

.e_b_discover_btn {
    background-color: #0e2737;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    padding: 35px 30px;
    cursor: pointer;
}

.events {
    width: 1100px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events_title_box {
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #101010;
    text-align: center;
}

.events_title {
    font-size: 40px;
    margin-top: 20px;
}

.events_issue {
    color: #1cc3b2;
    font-weight: bold;
}

.events_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.event_box {
    width: 31.5%;
    position: relative;
    transition: .5s;
    bottom: 0;
}
.event_box:hover {
    bottom: 15px;
}

.event_image_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 240px;
    cursor: pointer;
}
.ev_i_b_1 {
    background-image: url(./images/events/1.jpg);
}
.ev_i_b_2 {
    background-image: url(./images/events/2.jpg);
}
.ev_i_b_3 {
    background-image: url(./images/events/3.jpg);
}

.event_top_section {
    display: flex;
    color: #101010;
    font-size: 14px;
    margin: 20px 0 15px 0;
    letter-spacing: 1px;
}

.event_issue {
    margin-left: 50px;
    color: #1cc3b2;
}

.event_title {
    font-size: 24px;
    letter-spacing: 1px;
    color: #101010;
    transition: .2s;
    cursor: pointer;
}
.event_title:hover {
    color: #1cc3b2;
}

.event_description {
    margin-top: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}

.contact_us {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 60px;
    color: #fff;
    background-image: url(./images/others/contact-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact_us_title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
}

.contact_us_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact_btn {
    background-color: #1cc3b2;
    color: #fff;
    border-radius: 3px;
    padding: 15px 40px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    letter-spacing: 1px;
    margin-top: 10px;
}
.contact_btn:hover {
    background-color: #fff;
    color: #1cc3b2;
}

/* Responsive */

@media (max-width: 1025px) {
    .main_container {
        width: 100%;
    }  

    .contact_us {
        width: 830px;
    }

    .about_us_box, .services, .testimonials_sliders,
    .events {
        width: 950px;
    }

    .booking_box {
        width: 870px;
        padding: 35px 40px;
    }

    .input_title {
        font-size: 14px;
    }
    
    .book_input {
        width: 160px;
    }
    
    .select_input {
        width: 65px;
    }
    
    .book_btn {
        width: 180px;
    } 

    .entertainment_title_box.show {
        height: 360px;
    }

    .service_box {
        box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.04);
        width: 160px;
        padding: 30px 0;
    }
    
    .service_icon {
        font-size: 30px;
    }
    
    .service_title {
        font-size: 16px;
    }

    .about_image_box_1 {
        width: 220px;
    }
    
    .about_image_box_2 {
        width: 200px;
    }
    
    .about_image_box_3 {
        width: 200px;
    }
}

@media (max-width: 769px) {
    .about_us_box, .services, .testimonials_sliders,
    .events {
        width: 720px;
    }

    .booking_box {
        width: 670px;
        padding: 25px 25px;
    }

    .input_title {
        font-size: 14px;
    }
    
    .book_input {
        width: 100px;
        font-size: 11px;
    }
    
    .select_input {
        width: 60px;
    }
    
    .book_btn {
        width: 150px;
        font-size: 12px;
    } 

    .entertainment_box_4 {
        display: none;
    }

    .entertainment_box {
        width: calc(100% / 3);
        height: 100%;
        position: relative;
    }
    
    .about_title {
        font-size: 30px;
        line-height: 40px;
    }
    
    .about_description {
        margin-top: 20px;
        font-size: 16px;
        line-height: 25px;
    }
    
    .manager_box {
        margin-top: 20px;
        font-size: 18px;
    }
    .manager_box div {
        letter-spacing: .5px;
    }

    .about_image_box_1 {
        width: 180px;
        height: 300px;
    }
    
    .about_image_box_2 {
        width: 160px;
        height: 145px;
    }
    
    .about_image_box_3 {
        width: 160px;
        height: 145px;
    }

    .about_left_side {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .service_box {
        box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.04);
        width: 130px;
        padding: 25px 0;
    }
    
    .service_icon {
        font-size: 25px;
    }
    
    .service_title {
        font-size: 14px;
    }

    .event_image_box {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 160px;
        cursor: pointer;
    }

    .event_top_section {
        font-size: 12px;
    }
    
    .event_issue {
        margin-left: 86px;
        font-size: 12px;
    }

    .event_title {
        font-size: 18px;
        letter-spacing: 1px;
        color: #101010;
        transition: .2s;
        cursor: pointer;
    }

    .event_description {
        margin-top: 12px;
        line-height: 20px;
        font-size: 12px;
    }

    .event_box {
        width: 31%;
    }

    .contact_us {
        padding: 40px 40px;
        font-size: 14px;
        width: 640px;
    }
    
    .contact_btn {
        padding: 15px 30px;
        font-size: 12px;
        letter-spacing: 0;
    }

    .slider {
        height: 500px;
        margin-top: 50px;
    }

    .slide_information_box {
        width: calc(50% - 80px);
        padding: 0 40px;
    }
    
    .slide_inf_title {
        font-size: 40px;
    }

    .slide_service {
        font-size: 12px;
    }
    
    .slide_service div {
        margin-left: 10px;
    }
    
    .slide_service_text {
        width: 70px;
    }

    .guest_name {
        letter-spacing: 0;
        font-size: 14px;
    }
}

@media (max-width: 501px) {
    .about_us_box {
        flex-direction: column;
        width: 390px;
        align-items: center;
        margin-top: 290px;
        padding: 0;
    }

    .about_left_side {
        width: calc(100% - 40px);
        padding: 0 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .manager_box {
        margin: 40px auto 0 auto;
        font-size: 20px;
    }

    .app_issue {
        margin-bottom: 20px;
    }
    
    .welcome_title {
        font-size: 40px;
    }

    .welcome_image_box {
        height: 590px;
    }

    .booking_box {
        width: 310px;
        padding: 30px 40px;
        flex-wrap: wrap;
        bottom: -180px;
    }
    
    .book_input {
        padding: 15px 13px;
        margin-bottom: 30px;
        width: 120px;
    }
    
    .select_input {
        width: 92.5px;
    }
    
    .book_btn {
        width: 100%;
        padding: 17px 0;
        margin-top: 0;
    }

    .input_title {
        font-size: 12px;
    }

    .services {
        width: 390px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service_box {
        margin: 0 auto 20px auto;
        width: 175px;
        padding: 35px 0;
    }
    
    .service_icon {
        font-size: 30px;
    }
    
    .service_title {
        font-size: 16px;
    }

    .slider {
        height: 670px;
        margin-top: 50px;
    }

    .slide {
        flex-direction: column;
    }

    .slide_image_box {
        height: 40%;
        width: 100%;
    }

    .slide_information_box {
        width: calc(100% - 80px);
        height: 60%;
    }

    .slide_inf_title {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .price_box {
        margin: 20px 0 30px 0;
        font-size: 30px;
    }

    .price_box div {
        font-size: 14px;
    }

    .view_details {
        padding: 12px 30px;
        font-size: 12px;
        margin-top: 20px;
    }

    .testimonials_sliders {
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 750px;
        margin-bottom: 0;
    }

    .testimonials {
        width: 100%;
        height: 50%;
    }
    
    .testimonials_slider_1 {
        height: calc(50% - 60px);
        width: 100%;
        padding: 0 0 0 0;
        margin: 10px 0 0 0;
    }

    .testimonial_information_box .slide_inf_title {
        text-align: start;
    }

    .entertainments {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .entertainment_box_2 {
        display: none;
    }

    .entertainment_box {
        width: 100%;
    }

    .entertainment_title_box.show {
        height: 300px;
        background-color: #1cc3b2;
    }

    .events {
        width: 390px;
        margin: 0 auto 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .events_box {
        flex-direction: column;
        align-items: center;
    }

    .event_box {
        width: 100%;
        margin-bottom: 50px;
    }
    .event_box:hover {
        bottom: 0;
    }

    .event_image_box {
        height: 300px;
    }

    .events_title {
        font-size: 30px;
    }

    .event_issue {
        margin-left: 90px;
    }

    .about_image_box_1 {
        width: 200px;
        height: 350px;
    }
    
    .about_image_box_2 {
        width: 180px;
        height: 170px;
    }
    
    .about_image_box_3 {
        width: 180px;
        height: 170px;
    }

    .contact_us {
        width: 310px;
        flex-direction: column;
        margin-top: 0;
    }
    
    .contact_us_title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .contact_number {
        line-height: 25px;
        font-size: 16px;
    }
    
    .contact_btn {
        padding: 15px 40px;
        font-size: 14px;
        margin-top: 40px;
    }
}

@media (max-width: 376px) {
    .about_us_box {
        width: 350px;
        margin-top: 290px;
    }

    .booking_box {
        width: 270px;
        bottom: -180px;
    }

    .book_input {
        width: 100px;
    }

    .select_input {
        width: 80px;
    }

    .services {
        width: 350px;
    }

    .service_box {
        width: 155px;
    }

    .testimonials_sliders {
        width: 350px;
    }

    .events {
        width: 350px;
    }

    .event_issue {
        margin-left: 70px;
    }

    .about_image_box_1 {
        width: 180px;
        height: 330px;
    }
    
    .about_image_box_2 {
        width: 160px;
        height: 160px;
    }
    
    .about_image_box_3 {
        width: 160px;
        height: 160px;
    }

    .contact_us {
        width: 270px;
    }
}

@media (max-width: 321px) {
    .about_us_box {
        width: 290px;
        margin-top: 290px;
    }

    .booking_box {
        width: 250px;
        padding: 30px 20px;
    }

    .book_input {
        width: 90px;
    }

    .select_input {
        width: 73px;
    }

    .services {
        width: 290px;
    }

    .service_box {
        width: 125px;
        height: 55px;
    }
    
    .service_icon {
        font-size: 25px;
    }
    
    .service_title {
        font-size: 14px;
    }

    .testimonials_sliders {
        width: 290px;
    }

    .events {
        width: 290px;
    }

    .event_image_box {
        height: 290px;
    }

    .event_issue {
        margin-left: 40px;
    }

    .about_image_box_1 {
        width: 150px;
        height: 270px;
    }
    
    .about_image_box_2 {
        width: 130px;
        height: 130px;
    }
    
    .about_image_box_3 {
        width: 130px;
        height: 130px;
    }

    .contact_us {
        width: 210px;
    }

    .testimonials {
        height: 300px;
        margin-bottom: 20px;
    }
    
    .app_issue {
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    .welcome_title {
        font-size: 30px;
    }
}