.about_us_box {
    color: #101010;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about_left_side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_issue {
    letter-spacing: 1px;
    font-weight: bold;
    color: #1cc3b2;
}

.about_title {
    font-size: 40px;
    line-height: 45px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.about_description {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.manager_box {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}
.manager_box div {
    margin-left: 10px;
    font-weight: bold;
    color: #1cc3b2;
    letter-spacing: 1px;
}

.about_right_side {
    display: flex;
}

.left_column {
    margin-left: 10px;
}

.about_image_box_1 {
    background-image: url(./../public/images/about-us/3.jpg);
    width: 300px;
    height: 340px;
    border-radius: 5px;
    background-size: cover;
}

.about_image_box_2 {
    background-image: url(./../public/images/about-us/2.jpg);
    width: 250px;
    height: 165px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.about_image_box_3 {
    background-image: url(./../public/images/about-us/1.jpg);
    height: 165px;
    width: 250px;
    border-radius: 5px;
    background-size: cover;
}

/* Responsive */

@media (max-width: 1025px) {
    .about_us_box {
        width: 950px;
    }
}

@media (max-width: 769px) {
    .about_us_box {
        width: 720px;
    }
    
    .about_title {
        font-size: 30px;
        line-height: 40px;
    }
    
    .about_description {
        margin-top: 20px;
        font-size: 16px;
        line-height: 25px;
    }
    
    .manager_box {
        margin-top: 20px;
        font-size: 18px;
    }
    .manager_box div {
        letter-spacing: .5px;
    }

    .about_image_box_1 {
        width: 180px;
        height: 300px;
    }
    
    .about_image_box_2 {
        width: 160px;
        height: 145px;
    }
    
    .about_image_box_3 {
        width: 160px;
        height: 145px;
    }

    .about_left_side {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}

@media (max-width: 501px) {
    .about_us_box {
        flex-direction: column;
        width: 390px;
        align-items: center;
        margin-top: 290px;
        padding: 0;
    }

    .about_left_side {
        width: calc(100% - 40px);
        padding: 0 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .manager_box {
        margin: 40px auto 0 auto;
        font-size: 20px;
    }

    .app_issue {
        margin-bottom: 20px;
    }

    .about_image_box_1 {
        width: 200px;
        height: 350px;
    }
    
    .about_image_box_2 {
        width: 180px;
        height: 170px;
    }
    
    .about_image_box_3 {
        width: 180px;
        height: 170px;
    }
}

@media (max-width: 376px) {
    .about_us_box {
        width: 350px;
        margin-top: 290px;
    }

    .about_image_box_1 {
        width: 180px;
        height: 330px;
    }
    
    .about_image_box_2 {
        width: 160px;
        height: 160px;
    }
    
    .about_image_box_3 {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 321px) {
    .about_us_box {
        width: 290px;
        margin-top: 290px;
    }

    .about_image_box_1 {
        width: 150px;
        height: 270px;
    }
    
    .about_image_box_2 {
        width: 130px;
        height: 130px;
    }
    
    .about_image_box_3 {
        width: 130px;
        height: 130px;
    }
    
    .app_issue {
        font-size: 12px;
        letter-spacing: 1px;
    }
}